In [2]:
import pandas as pd
import numpy as np
import plotly.express as px
import networkx as nx
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules
import matplotlib.pyplot as plt

In [4]:
data=pd.read_csv("Groceries.csv",header=None)

In [5]:
data.head(10)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,whole milk,butter,yogurt,rice,abrasive cleaner,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,rolls/buns,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,other vegetables,UHT-milk,rolls/buns,bottled beer,liquor (appetizer),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,pot plants,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,whole milk,cereals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#gathering all the transactions into an array
transaction=[]
for i in range(0,data.shape[0]):
    for j in range(0,data.shape[1]):
        transaction.append(data.values[i,j])

        
        
transaction=np.array(transaction)

df=pd.DataFrame(transaction,columns=['items'])
df['incident_count']=1

indexNames=df[df['items']=="nan"].index
df.drop(indexNames,inplace=True)


df_table=df.groupby("items").sum().sort_values("incident_count",ascending=False).reset_index()
df_table.head(10).style.background_gradient(cmap="Oranges")

In [11]:
#Customers First Choices

#gathering all the transactions into an array
transaction=[]
for i in range(0,data.shape[0]):
        transaction.append(data.values[i,0])

        
        
transaction=np.array(transaction)

df_first=pd.DataFrame(transaction,columns=['items'])
df_first['incident_count']=1

indexNames=df_first[df_first['items']=="nan"].index
df_first.drop(indexNames,inplace=True)


df_table_first=df_first.groupby("items").sum().sort_values("incident_count",ascending=False).reset_index()
df_table_first["food"]= "food"
df_table_first=df_table_first.truncate(before=-1,after=15)

In [12]:
df_table_first.head()

              items  incident_count  food
0           sausage             654  food
1        whole milk             570  food
2       frankfurter             455  food
3    tropical fruit             384  food
4  other vegetables             372  food

In [16]:
#Data PreProcessing
trans = []
for i in range(data.shape[0]):
    trans.append([str(data.values[i,j]) for j in range(data.shape[1])])
    
transaction=np.array(trans)

In [17]:
transaction

array([['citrus fruit', 'semi-finished bread', 'margarine', ..., 'nan',
        'nan', 'nan'],
       ['tropical fruit', 'yogurt', 'coffee', ..., 'nan', 'nan', 'nan'],
       ['whole milk', 'nan', 'nan', ..., 'nan', 'nan', 'nan'],
       ...,
       ['nan', 'nan', 'nan', ..., 'nan', 'nan', 'nan'],
       ['nan', 'nan', 'nan', ..., 'nan', 'nan', 'nan'],
       ['nan', 'nan', 'nan', ..., 'nan', 'nan', 'nan']], dtype='<U25')

In [18]:
te=TransactionEncoder()
te_ary=te.fit(transaction).transform(transaction)
dataset=pd.DataFrame(te_ary,columns=te.columns_)

In [19]:
dataset

,Instant food products,UHT-milk,`,abrasive cleaner,artif. sweetener,baby cosmetics,baby food,bags,baking powder,bathroom cleaner,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9000,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9001,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [21]:
dataset.shape

(9002, 171)

In [24]:
#converting dataset to 1 0 encoding
def encode_unit(x):
    if x == False:
        return 0
    if x == True:
        return 1

In [26]:
dataset=dataset.applymap(encode_unit)

In [27]:
dataset.head()

,Instant food products,UHT-milk,`,abrasive cleaner,artif. sweetener,baby cosmetics,baby food,bags,baking powder,bathroom cleaner,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [31]:
#Algorithm Implementatiom
frequent_itemsets=apriori(dataset,min_support=0.01,use_colnames=True)
frequent_itemsets['length']=frequent_itemsets['itemsets'].apply(lambda x:len(x))

In [32]:
frequent_itemsets

      support                                           itemsets  length
0    0.028882                                         (UHT-milk)       1
1    0.015663                                    (baking powder)       1
2    0.044323                                             (beef)       1
3    0.028327                                          (berries)       1
4    0.023661                                        (beverages)       1
..        ...                                                ...     ...
514  0.011220     (rolls/buns, nan, whole milk, root vegetables)       4
515  0.013664              (whole milk, rolls/buns, nan, yogurt)       4
516  0.011109  (tropical fruit, root vegetables, nan, whole m...       4
517  0.013553         (whole milk, root vegetables, nan, yogurt)       4
518  0.013330          (whole milk, tropical fruit, nan, yogurt)       4

[519 rows x 3 columns]

In [35]:
#Exploring The Item-Sets

frequent_itemsets[(frequent_itemsets['length']==4)&(frequent_itemsets['support']>=0.01)]

      support                                           itemsets  length
501  0.011442  (whole milk, nan, other vegetables, citrus fruit)       4
502  0.010998  (domestic eggs, nan, other vegetables, whole m...       4
503  0.011109     (pip fruit, nan, other vegetables, whole milk)       4
504  0.010109  (rolls/buns, nan, other vegetables, root veget...       4
505  0.015663    (rolls/buns, nan, other vegetables, whole milk)       4
506  0.011220  (tropical fruit, root vegetables, nan, other v...       4
507  0.020551  (root vegetables, nan, other vegetables, whole...       4
508  0.011553   (root vegetables, nan, other vegetables, yogurt)       4
509  0.012331          (nan, soda, other vegetables, whole milk)       4
510  0.014552  (tropical fruit, nan, other vegetables, whole ...       4
511  0.010442    (tropical fruit, nan, other vegetables, yogurt)       4
512  0.012664  (whipped/sour cream, nan, other vegetables, wh...       4
513  0.019440        (whole milk, nan, other vegetables, yogurt)       4
514  0.011220     (rolls/buns, nan, whole milk, root vegetables)       4
515  0.013664              (whole milk, rolls/buns, nan, yogurt)       4
516  0.011109  (tropical fruit, root vegetables, nan, whole m...       4
517  0.013553         (whole milk, root vegetables, nan, yogurt)       4
518  0.013330          (whole milk, tropical fruit, nan, yogurt)       4

In [36]:
rules=association_rules(frequent_itemsets,metric="lift",min_threshold=1.2)
rules["antecedent_length"]=rules["antecedents"].apply(lambda x:len(x))
rules["consequents_length"]=rules["consequents"].apply(lambda x:len(x))

In [37]:
rules.sort_values("lift",ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_length,consequents_length
943,(root vegetables),"(tropical fruit, other vegetables)",0.095756,0.030438,0.011331,0.118329,3.887598,0.008416,1.099688,1,2
938,"(tropical fruit, other vegetables)",(root vegetables),0.030438,0.095756,0.011331,0.372263,3.887598,0.008416,1.440481,2,1
1077,"(tropical fruit, nan, other vegetables)",(root vegetables),0.030327,0.095756,0.011220,0.369963,3.863585,0.008316,1.435224,3,1
1086,(root vegetables),"(tropical fruit, nan, other vegetables)",0.095756,0.030327,0.011220,0.117169,3.863585,0.008316,1.098369,1,3
1081,"(tropical fruit, other vegetables)","(root vegetables, nan)",0.030438,0.095645,0.011220,0.368613,3.853955,0.008309,1.432330,2,2
...,...,...,...,...,...,...,...,...,...,...,...
661,"(nan, soda)",(newspapers),0.154410,0.069318,0.013108,0.084892,1.224677,0.002405,1.017019,2,1
173,(soda),(newspapers),0.154410,0.069318,0.013108,0.084892,1.224677,0.002405,1.017019,1,1
663,(soda),"(newspapers, nan)",0.154410,0.069318,0.013108,0.084892,1.224677,0.002405,1.017019,1,2
326,"(nan, other vegetables)",(bottled beer),0.167185,0.070873,0.014219,0.085050,1.200029,0.002370,1.015494,2,1
327,(bottled beer),"(nan, other vegetables)",0.070873,0.167185,0.014219,0.200627,1.200029,0.002370,1.041835,1,2